#navbar {
    height: auto;
    width: 100%;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #1E807F;
    background-color: rgba(0, 0, 0, 0.6);
}

#navbar-container {
    padding: 20px 0px;
}

#navbar-logo {
    font-size: 1.8em;
}

#navbar-logo a {
    color: red;
    text-decoration: none;
}

#navbar-links {
    margin-top: 10px;
}

#navbar-links a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
    color: #fff;
    transition: 0.5s ease-in-out;
}

#navbar-links a:last-child {
    margin-right: 0px;
}

#navbar-links a:hover {
    color: red;
}
