#team-registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container {
    margin: 15vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

#form-title {
    margin-bottom: 15px;
    color: #fff;
    padding: 15px 25px 5px 25px;
    border-bottom: 2px solid #1E807F;
}

#form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

input[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border-style: none;
    border-bottom: 1px solid #1E807F;
    width: 65%;
}

input:focus {
    outline: none;
    border-bottom: 1px solid red;
}

input[name="team-name"] {
    height: 1.5em;
}

#sub-players {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
}

#sub-choice {
    margin: 5px 0px 10px 0px;
}

input[value="yes"] {
    margin-left: 20px;
    background-color: red;
}

input[type="submit"] {
    background-color: #1E807F;
    border-style: none;
    color: #fff;
    padding: 5px 30px;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: lightblue;
    color: #000;
}
